@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 100% 98%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 211.5 60.4% 19.8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 188.1 42% 37.8%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 60.8% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 195 53.3% 94.1%;
    --accent-foreground: 211.5 60.4% 19.8%;

    --destructive: 0 65.1% 50.6%;
    --destructive-foreground: 0 0% 100%;

    --success: 123 46.2% 33.5%;
    --success-foreground: 0 0% 100%;

    --warning: 35.8 100% 50%;
    --warning-foreground: 0 0% 100%;

    --info: 210 76.5% 80%;
    --info-foreground: 211.5 60.4% 19.8%;

    --border: 205.2 60.8% 90%;
    --input: 205.2 60.8% 90%;
    --ring: 211.5 60.4% 19.8%;

    --radius: 0.5rem;

    --sidebar-width: 16rem;
    --sidebar-collapsed-width: 4rem;

    --sidebar-background: 211.5 60.4% 19.8%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 188.1 42% 37.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 55.9% 23.1%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 55.9% 23.1%;
    --sidebar-ring: 188.1 42% 37.8%;
    --sidebar-muted: 210 76.5% 80%;

    --highlight-selected: 208 100% 97.1%;
    --highlight-hover: 214.3 100% 98.6%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 188.1 42% 37.8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 76.5% 80%;
    --secondary-foreground: 211.5 60.4% 19.8%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 80%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 65.1% 50.6%;
    --destructive-foreground: 0 0% 100%;

    --success: 123 46.2% 33.5%;
    --success-foreground: 0 0% 100%;

    --warning: 35.8 100% 50%;
    --warning-foreground: 0 0% 100%;

    --info: 210 76.5% 80%;
    --info-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 188.1 42% 37.8%;

    --sidebar-background: 211.5 60.4% 19.8%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 188.1 42% 37.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 55.9% 23.1%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 55.9% 23.1%;
    --sidebar-ring: 188.1 42% 37.8%;
    --sidebar-muted: 210 76.5% 80%;

    --highlight-selected: 208 100% 97.1%;
    --highlight-hover: 214.3 100% 98.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
